.App {
  text-align: center;
  background-color: #1a1f29;
  min-height: 100vh;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  margin-top: 2%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 7s alternate-reverse;
  }
}

.App-header {
  
  
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-body{
  display: flex;
  flex-direction: column;
  color: white;
}

.App-link {
  color: #61dafb;
}



.gameImage{
  width: 25%
}

.prettyButton{
  background-color: #80bade;
  color: #124f91;
  border: 2;
  margin-bottom: 10px;
}


.firstCol{
  width: 40%;
}
.secCol{
  width: 40%;
}
.aiContainer{
  display: flex;
  flex-direction: row;
  gap: 5%;
  margin: auto;
  justify-content: center;
  padding: 25px 0;

}

.aiButtons{
  display: flex;
  flex-direction: row;
  gap: 41%;
  margin: auto;
  justify-content: center;
  padding: 25px 0;

}

.gameFlex{
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  width: 66%;
  margin:auto;
  align-items: center;
}
.gameImage{
  width: 300px; /* Set a specific width for the small image */
  height: auto;
}

.gameElement{
  flex:2
  
}
.gameText{
  flex:1
}

.headerFlex{
  display: flex;
  flex-direction: row;
  align-items: center;
}


